
.contact-us {
  .skype-svg path.a {
    fill: #00AAF2;
  }

  .skype-div:hover {
    .skype-svg path {
      &.a {
        fill: #fff;
      }

      &.b {
        fill: #00AAF2;
      }
    }

    background-color: #00AAF2;
  }

  .skype-div {
    height: 44px;
    width: 44px;
    border-radius: 4px;
    border: 1px #00AAF2 solid;
  }

  .messenger-svg path.a {
    fill: #1E88E5;
  }

  .messenger-div:hover {
    .messenger-svg path {
      &.a {
        fill: #fff;
      }

      &.b {
        fill: #1E88E5;
      }
    }

    background-color: #1E88E5;
  }

  .messenger-div {
    height: 44px;
    width: 44px;
    border-radius: 4px;
    border: 1px #1E88E5 solid;
  }

  .vk-svg path.a {
    fill: #5C81B3;
  }

  .vk-div:hover {
    .vk-svg path {
      &.a {
        fill: #fff;
      }

      &.b {
        fill: #5C81B3;
      }
    }

    background-color: #5C81B3;
  }

  .vk-div {
    height: 44px;
    width: 44px;
    border-radius: 4px;
    border: 1px #5C81B3 solid;
  }

  .tm-svg path.a {
    fill: #2CA5E0;
  }

  .tm-div:hover {
    .tm-svg path {
      &.a {
        fill: #fff;
      }

      &.b {
        fill: #2CA5E0;
      }
    }

    background-color: #2CA5E0;
  }

  .tm-div {
    height: 44px;
    width: 44px;
    border-radius: 4px;
    border: 1px #2CA5E0 solid;
  }

  .viber-svg path.a {
    fill: #7D3DAF;
  }

  .viber-div:hover {
    .viber-svg path {
      &.a {
        fill: #fff;
      }

      &.b {
        fill: #7D3DAF;
      }
    }

    background-color: #7D3DAF;
  }

  .viber-div {
    height: 44px;
    width: 44px;
    border-radius: 4px;
    border: 1px #7D3DAF solid;
  }

  .whatsapp-svg path.a {
    fill: #4CAF50;
  }

  .whatsapp-div:hover {
    .whatsapp-svg path {
      &.a {
        fill: #fff;
      }

      &.b {
        fill: #4CAF50;
      }
    }

    background-color: #4CAF50;
  }

  .whatsapp-div {
    height: 44px;
    width: 44px;
    border-radius: 4px;
    border: 1px #4CAF50 solid;
  }

  div {
    margin-right: 24px;
  }
}

.bg-darkest-blue {
  background-color: #041023;
}

.phone-svg {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%)
}

.phone-svg path {
  fill: #fff;
}
