@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@font-face {
  font-family: "Segoe Print";
  src: url("/css/fonts/segoepr.ttf") format('ttf');
}

$font-family-base: Open Sans;

$blue: #1663D5 !default;
$yellow: #FC9416 !default;
$body-color: #414849;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 1200px,
        xl: 1500px
) !default;

.img-fluid {
  width: 100% !important;
}

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 1140px,
        xl: 1280px
) !default;
body {
  line-height: 1.3em;
  -webkit-font-smoothing: antialiased;
}

.height-full {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

$navbar-padding-y: 20px;
.my-nav {
  box-shadow: 0px 3px 10px rgba($color: #000000, $alpha: 0.04);
}

.my-brand {
  width: 222px;
}

.my-btn {
  width: 222px;

  &:hover {
    background-image: linear-gradient(90deg, rgba(22, 99, 213, 1) 0%, rgba(34, 114, 232, 1) 100%);
  }

  &.border-primary:hover {
    color: #ffffff !important;
  }
}

.gradient-button {
  background-image: linear-gradient(90deg, rgba(22, 99, 213, 1) 0%, rgba(34, 114, 232, 1) 100%);
}

.font-weight-semibold {
  font-weight: 600;
}

.btn-hover:hover {
  background-image: linear-gradient(90deg, rgba(22, 99, 213, 1) 0%, rgba(34, 114, 232, 1) 100%) !important;
}

.hover-75 {
  opacity: 1 !important;

  &:hover {
    opacity: 0.75 !important;
    color: #000;
  }
}

$btn-padding-y: 11px;

.nav-item .nav-link {
  font-size: 16px;
  line-height: 24px;

  &:hover {
    opacity: 0.75;
  }
}

.navbar-in-top {
  background: rgb(13, 43, 56);
  background: linear-gradient(180deg, rgba(13, 43, 56, 0.75) 0%, rgba(13, 43, 56, 0) 100%);
  padding-bottom: 7% !important;
  box-shadow: 0px 0px;
  //-webkit-transition: all .01s ease-in;
  //transition: all .01s ease-in;
}

nav.navbar-light {
  //-webkit-transition: padding-bottom and background-color 1s ease-in;
  transition-property: background-color, padding-bottom;
  transition-duration: .1s, .5s;
  -moz-transition-timing-function: ease-in;
}

$close-color: #FF0000;
.nav-item .nav-link {
  color: #414849 !important;
  font-weight: bold;

  &.current {
    color: $blue !important;
  }

  & {
    opacity: 75% !important;
  }
}

.bg-light-1 {
  background-color: #FCFCFC;
}


header {
  min-height: 100vh;
  width: 100%;
}

.main {
  background-color: rgba(13, 43, 56, .25);
  opacity: 1;
  height: 100vh;
  padding-top: 12%;
  @media only screen and (max-width: 992px) {
    padding-top: 15%;
  }
  @media only screen and (max-width: 768px) {
    padding-top: 30%;
  }
  @media only screen and (max-width: 540px) {
    padding-top: 50%;
  }
}


.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

.col-shadow {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  border-radius: 8px !important;
  min-height: 170px;

  img {
    border-radius: 8px 8px 0 0;
  }
}

.level-primary {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  height: 32px;
  width: 32px;
  position: relative;
}

.level-secondary {
  color: #D1D1D1;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  position: relative;
  border: 1px #E3E3E3 solid;
}

.level-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.section-3 ul {
  list-style: none;
  padding: 0 !important;

  li {
    position: relative;

    &:before {
      //left: 5px;
      vertical-align: middle;
      display: inline-block;
      width: 25px;
      height: 15px;
      content: " ";
      background: url("../assets/svg/right-arrow.svg") no-repeat;
    }
  }
}

.bg-dark-blue {
  background-color: #05214A;
  box-shadow: 0px 2px 25px rgba(61, 47, 85, 0.15);
}

.bg-darkest-blue {
  background-color: #041023;
}

.round {
  border-radius: 100% !important;
}

.carousel .carousel-indicators {
  position: absolute;
  padding-bottom: 0;
  margin-bottom: 0;
}

.carousel .carousel-indicators li {
  height: 0;
  width: 48px;
  padding: 0;
  border: 0;
  border-bottom: 4px #E3E3E3 solid;
  border-top: 4px transparent solid;
  //transform: scale(0);
  transition: all 0.3s ease;
  transform-origin: 85% top;

  &.active {
    border-bottom: 4px #414849 solid;
    border-top: 4px #414849 solid;
    background-color: #414849;
    height: 0;
    opacity: 1;
    //transform: scale(1);
  }
}


@import "svg";
@import "../node_modules/bootstrap/scss/bootstrap";
